
    body,
    html {
      height: 100%;
    }
  
    body {
      margin: 0px;
    }
  
    
    .hero-image {
     
      background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("https://content.techgig.com/photo/77087595/Guide-How-to-build-career-as-a-programmer-without-college-degree.jpg");
  
    
      height: 100%;
  
  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  
  
  
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  
    .button1 {
      display: inline-block;
      padding: 12px 22px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: black;
      background-color: white;
      border: none;
      border-radius: 15px;
      box-shadow: 0 6px #999;
      font-family: "Courier New", "Lucida Console", monospace;
  
    }
  
    .p1 {
      font-family: "Courier New", "Lucida Console", monospace;
    }
  
    .p2 {
      text-align: center;
      font-family: "Courier New", "Lucida Console", monospace;
    }
    .p3{
      text-align: center;
      font-family: "Courier New", "Lucida Console", monospace;
      padding: 3px;
    }
  
    h1 {
      font-weight: normal;
    }
  
    .column2 {
      float: right;
      width: 25%;
      margin-bottom: 16px;
      padding: 0 52px;
    }
  
    .column {
      float: left;
      width: 25%;
      margin-bottom: 16px;
      padding: 0 52px;
    }
  
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
  
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  
    .container {
      padding: 0 18px;
    }
  
    .container::after,
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  
    .title {
      color: grey;
    }
  
    .button {
      display: inline-block;
      padding: 12px 22px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: black;
      background-color: white;
      border: none;
      border-radius: 15px;
      box-shadow: 0 6px #999;
      font-family: "Courier New", "Lucida Console", monospace;
    }
    .button:hover {
      background-color: grey; /* Green */
      color: white;
    }
    .button:active {
      background-color: grey;
      box-shadow: 0 3px #999;
      transform: translateY(4px);
    }
  
    .animate__animated.animate__fadeInLeft {
      --animate-duration: 2s;
      --animate-delay: 0.5s;
    }
    .enviar-image {
      
      background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url("https://www.apollotechnical.com/wp-content/uploads/2020/08/software-engineer-interview-questions.jpg");
  
      height: 100%;
  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  
  
    .enviar-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .button3 {
      display: inline-block;
      padding: 8px 16px;
      font-size: 12px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: black;
      background-color: white;
      border: none;
      border-radius: 15px;
      box-shadow: 0 6px #999;
      font-family: "Courier New", "Lucida Console", monospace;
    }
    input[type="file"] {
      display: none;
  }
  .custom-file-upload{
    display: inline-block;
      padding: 7px 20px;
      font-size: 12px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: black;
      background-color: white;
      border: none;
      border-radius: 6px;
      box-shadow: 0 3px #999;
      font-family: "Courier New", "Lucida Console", monospace;
  }
  .custom-file-upload:hover {
    background-color: grey; /* Green */
    color: white;
  }
  .custom-file-upload:active {
    background-color: grey;
    box-shadow: 0 3px #999;
    transform: translateY(4px);
  }
  .button3:hover {
    background-color: grey; /* Green */
    color: white;
  }
  .button3:active {
    background-color: grey;
    box-shadow: 0 3px #999;
    transform: translateY(4px);
  }
  .button1:hover {
    background-color: grey; /* Green */
    color: white;
  }
  .button1:active {
    background-color: grey;
    box-shadow: 0 3px #999;
    transform: translateY(4px);
  }
